.header {
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: cursive;
  color: white;
  background-color: black;
  height: 10vh;
}

.logo {
  text-transform: uppercase;
}

.navbar a {
  margin-left: 2rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navbar a:nth-child(1) {
  margin-left: 0;
}

.navbar a:hover {
  transition: 0.3s all ease;
  color: rgba(255, 255, 255, 0.6);
}
